google-api-core==1.11.0
google-api-python-client==1.7.4
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.12.1
google-cloud-core==1.0.0
google-cloud-error-reporting==0.31.0
google-cloud-logging==1.11.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
grpcio==1.21.1
oauthlib==3.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
